name: Build and Push Agent Image

on:
  push:
    paths:
      - 'agents/**' # Сработает, только если изменились файлы в папке agents

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./agents
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/product-agents-worker:latest
